doctype html
html(lang="en")
  head
    title= Dollhouse
    link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    
    nav.navbar.navbar-default.navbar-fixed-bottom
      div.container-fluid
        div.btn-toolbar(role="toolbar")
          div.btn-group(role="group")
            button#retreat-btn.btn.navbar-btn.btn-default Retreat
            button#enclose-btn.btn.navbar-btn.btn-default Enclose
            button#surround-btn.btn.navbar-btn.btn-default Surround
            button#alcen-btn.btn.navbar-btn.btn-default Alcove (Enclose)
            button#alcsur-btn.btn.navbar-btn.btn-default Alcove (Surround)
          div.btn-group(role="group")
            button#alt-btn.btn.navbar-btn.btn-default Alternating
            button#shake-btn.btn.navbar-btn.btn-default Shake
            button#wave-btn.btn.navbar-btn.btn-default Wave Hi
          //- div.btn-group(role="group")
          //-   button#fast-btn.btn.navbar-btn.btn-default Fast
          //-   button#slow-btn.btn.navbar-btn.btn-default Slow
    
    script(src='deps.js')
