doctype html
html(lang="en")
  head
    title= Dollhouse
    style body { margin: 0; }
  body
    script(src='bower_components/three.js/build/three.min.js')
    script(src='bower_components/three.js/examples/js/controls/FlyControls.js')
    script(src='bower_components/tween.js/src/Tween.js')
    script(src='compiled.js')
